* {
    width: 100%;
}

body {
    background-image: url("../Images/background.png");
}

nav.navbar {
    background-color: #D1C775;
    
}

a.header {
    color: #B42621;
    font-size: 36px;
}

nav.navbar li a {
    color:#B42621 ;
    text-decoration: none;
    text-align: center;
}

hr{
    border: 2px solid #B42621;
}
div.about-me {
    background-color: #D1C775;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    color: #eeeeee
}