* {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    background-color: #F1F3CE;
    display: flex;
    flex-direction: column;
}

div.wrapper {
    flex: 1;
    
}

p {
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}
nav.navbar {
    position: fixed;
    background-color:  #f62a00;
    border-bottom: 5px solid #F1F3CE;
    position: relative;
}

a.header {
    color: #F1F3CE;
    font-size: 36px;
    font-family: 'Bungee', cursive;
}

nav.navbar li a {
    font-family: 'Bebas Neue', cursive;
    color: #F1F3CE ;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
}

button.drop-down{
    background-color: #1E656D;
    color: #F1F3CE;
    font-size:25px;
    padding: 2px;
    text-align: center;
}
hr{
    border: 2px solid #F1F3CE;
    margin: 5px;
}

h1{
    font-family: 'Bebas Neue', cursive;
   
}
div.about-me {
    background-color: #1E656D;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    color: #F1F3CE;
}
img.aboutMeImg {
    width: 300px;
    padding: 0;
    border: 3px solid #F1F3CE;
    border-radius: 10px;
}

div.contactForm {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin:10px;
    padding: 20px;

}
div.contactInput {
    background-color: #1E656D;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    color: #F1F3CE;
    font-size: 18px;
}

input.contactButton {
    background-color: #f62a00;
    color: #F1F3CE;
    width: 150px;
    height: 75px;
    font-size: 28px;
}
div.portfolio {
    background-color: #1E656D;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    color: #F1F3CE;
    position: relative;
}
img.portfolioImg {
    margin: 10px;
    position: relative;
    border: 3px solid #F1F3CE;
    border-radius: 15px;
    align-content:center;
}

li.footerNav {
    display: inline;
    list-style: none;

}
div.container {
    flex: 1;
}
img.navIcons {
    margin: 10px;
    width: 40px;
}
a.footerIconLink {
    text-decoration: none;
    color:#f62a00;
}
 footer.footer, .push {
    height: 50px;
}

footer.footer{
    position: sticky;
    flex-shrink; 0;
    height: 150px;
    width: 100%;
    background-color: #00293C;
    color: #F1F3CE;
    text-align: center;
}