* {
    width: 100%;
}

body {
    background-image: url("../Images/background.png");
}
p {
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}
nav.navbar {
    background-color: #D1C775;
    border-bottom: 5px solid #B42621;
    
}

a.header {
    color: #B42621;
    font-size: 36px;
    font-family: 'Bungee', cursive;
}

nav.navbar li a {
    font-family: 'Bebas Neue', cursive;
    color:#B42621 ;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
}

hr{
    border: 2px solid #B42621;
}

h1{
    font-family: 'Bebas Neue', cursive;
   
}
div.about-me {
    background-color: #D1C775;
    margin-top: 10px;
    padding: 20px;
    border-radius: 15px;
    color: #fff;
}